<html>
  <body>
    <div class="wrapper">
      <h1>Hi <%= user.firstName %> <%= user.lastName %></h1>
      <p>&nbsp;</p>
      <p>Your permission to work with app <b><%= app.name %></b> had been removed</p>
      <p>&nbsp;</p>
      <p>Cheers,</p>
      <p>Dokku UI Team</p>
    </div>
  </body>
</html>