<section>
  <div class="nav nav-tabs dokku-submenu">
    <h2 style="margin: 0;">All Activities</h2>
  </div>

  <div class="row">
    <div class="col-md-12">
      <fieldset class="form-group">
        <input type="text" ng-model="filterActivities" class="form-control" placeholder="Filter activities..." />
      </fieldset>
      <table class="table table-striped">
        <tbody>
          <tr ng-repeat="activity in vm.activities | filter:filterActivities | filter:'!git-'">
            <td width="20%"><b>{{activity.user.firstName}} {{activity.user.lastName}}</b> <small>({{activity.user.username}})</small></td>
            <td>
              <code>{{activity.command}} {{activity.app.name}} {{activity.params}}</code> &nbsp;
              <small class="text-muted" am-time-ago="activity.updated_at"></small>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
