<section>
  <div class="nav nav-tabs dokku-submenu">
    <h4 class="text-primary">{{vm.$stateParams.app}}</h4>
    <a class="sub-nav-item" href="/apps/{{vm.$stateParams.app}}"><i class="glyphicon glyphicon-dashboard"></i> &nbsp; Overview</a>
    <a class="sub-nav-item active" href="/apps/{{vm.$stateParams.app}}/activities"><i class="glyphicon glyphicon-cloud-upload"></i> &nbsp; Activities</a>
    <a class="sub-nav-item" href="/apps/{{vm.$stateParams.app}}/access"><i class="glyphicon glyphicon-user"></i> &nbsp; Access</a>
    <a class="sub-nav-item" href="/apps/{{vm.$stateParams.app}}/settings"><i class="glyphicon glyphicon-cog"></i> &nbsp; Setting</a>
  </div>

  <div class="row">
    <div class="col-md-12">
      <fieldset class="form-group">
        <input type="text" ng-model="filterActivities.commands" class="form-control" placeholder="Filter activities..." />
      </fieldset>
      <table class="table table-striped">
        <tbody>
          <tr ng-repeat="activity in vm.activities | filter:filterActivities | filter:{commands: '!git-upload-pack'}">
            <td width="20%"><b>{{activity.user.firstName}} {{activity.user.lastName}}</b> <small>({{activity.user.username}})</small></td>
            <td>
              <code>{{activity.commands[0]}}<span ng-show="activity.rev"> [{{activity.rev}}]</span></code><br/>
              <small class="text-muted" am-time-ago="activity.updated_at"></small>
              <span ng-show="activity.status">
                &dash;
                <small class="text-capitalize" ng-class="{'text-success': activity.status == 'succeeded', 'text-danger': activity.status == 'failed'}">{{activity.status}}</small> &dash; 
                <small><a href="/apps/{{vm.$stateParams.app}}/builds/{{activity._id}}">View log</a></small>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
