<section>

  <subnav></subnav>

  <div class="row">
    <div class="col-md-12">
      <fieldset class="form-group">
        <input type="text" ng-model="filterActivities.command" class="form-control" placeholder="Filter activities..." />
      </fieldset>
      <table class="table table-striped">
        <tbody>
          <tr ng-repeat="activity in vm.activities | filter:filterActivities | filter:{command: '!git-upload-pack'}">
            <td width="20%"><b>{{activity.user.firstName}} {{activity.user.lastName}}</b> <small>({{activity.user.username}})</small></td>
            <td>
              <code>{{activity.command}}<span ng-show="activity.rev"> [{{activity.rev}}]</span></code><br/>
              <small class="text-muted" am-time-ago="activity.updated_at"></small>
              <span ng-show="activity.status">
                &dash;
                <small class="text-capitalize" ng-class="{'text-success': activity.status == 'succeeded', 'text-danger': activity.status == 'failed'}">{{activity.status}}</small> &dash; 
                <small><a href="/apps/{{vm.$stateParams.app}}/activities/{{activity._id}}">View log</a></small>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
