@import url(https://fonts.googleapis.com/css?family=Maven+Pro:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Lora);

@import '../bower_components/bootstrap/less/bootstrap.less';
@import '../bower_components/font-awesome/less/font-awesome.less';
@import '../bower_components/jasny-bootstrap/less/jasny-bootstrap.less';
@import (less) '../bower_components/angular-ui-select/dist/select.css';

@icon-font-path: '../bower_components/bootstrap/fonts/';
@fa-font-path: '../bower_components/font-awesome/fonts';
@font-family-base: 'Maven Pro';
@brand-primary: #2a8fbd;
@state-success-text: #74C080;

/**
 * App-wide Styles
 */

html {
  min-height: 100%;
}

.container {
  max-width: 100%;
}

.navmenu {
  padding-top: 50px;

  @media (min-width: @screen-md-min) {
    padding-top: 0;
  }
}

.navmenu-brand {
  padding: 20px 15px 20px 145px;
  font-family: 'Lora';
  font-size: 35px;
  letter-spacing: 5px;
  color: #000 !important;
  background: #fff !important;
  margin: 0;

  .logo {
    position: absolute;
    top: -20px;
    left: -30px;
    width: 150px;
    z-index: 10;
  }
}

.wave {
  position: relative;

  &:before {
    content: " ";
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    width: 100%;
    height: 10px;
    background-image: radial-gradient(circle at 10px -5px, transparent 12px, #2a8fbd 13px);
    background-repeat: repeat;
    background-size: 20px 20px;
  }
}

.btn {
  font-weight: bold;
}

.ui-select-match-item {
  .btn-primary();
  .btn-sm();

  .close {
    color: #fff;
    opacity: 1;
  }
}

.loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url('/assets/images/loading.gif') no-repeat center center rgba(255, 255, 255, 0.8);
  z-index: 999999999999;
  display: none;
}

/* inject:less */
@import 'account/account.less';
@import 'account/login/login.less';
@import 'account/reset-password/reset-password.less';
@import 'apps/apps.less';
/* endinject */
