<section>
  <div class="nav nav-tabs dokku-submenu">
    <h4 class="text-primary">{{app.name}}</h4>
    <a class="sub-nav-item active" href="/apps/{{app.name}}"><i class="glyphicon glyphicon-dashboard"></i> &nbsp; Overview</a>
    <a class="sub-nav-item" href="/apps/{{app.name}}/activities"><i class="glyphicon glyphicon-cloud-upload"></i> &nbsp; Activities</a>
    <a class="sub-nav-item" href="/apps/{{app.name}}/access"><i class="glyphicon glyphicon-user"></i> &nbsp; Access</a>
    <a class="sub-nav-item" href="/apps/{{app.name}}/settings"><i class="glyphicon glyphicon-cog"></i> &nbsp; Setting</a>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h3>Info</h3>
    </div>
    <div class="col-md-8">
      <dl class="dl-horizontal dokku-info">
        <dt>Web URL</dt>
        <dd>{{app.web_url}}</dd>
        <dt>Git URL</dt>
        <dd>{{app.git_url}}</dd>
        <dt>Created at</dt>
        <dd>{{app.created_at}}</dd>
        <dt>Updated at</dt>
        <dd>{{app.updated_at}}</dd>
      </dl>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-md-4">
      <h3>Config Variables</h3>
      <p>Lorem ipsum</p>
    </div>
    <div class="col-md-8">
      <ul class="list-unstyled dokku-list-fields">
        <li ng-repeat="config in app.configs">
          <div ng-repeat="(key, value) in config" class="form-group">
            <div class="row">
              <div class="col-sm-5">
                <input type="text" class="form-control" readonly ng-model="key"/>
              </div>
              <div class="col-sm-5">
                <input type="text" class="form-control" readonly ng-model="value"/>
              </div>
              <div class="col-sm-2">
                <div class="btn-group">
                  <button class="btn btn-default" ng-click="vm.editConfig(key, value)"><i class="glyphicon glyphicon-pencil"></i></button>
                  <button class="btn btn-danger" ng-click="vm.deleteConfig(key, value)"><i class="glyphicon glyphicon-remove"></i></button>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-md-4">
      <h3>Domains</h3>
    </div>
    <div class="col-md-8">
      <h5>Dokku domain</h5>
      <input type="text" class="form-control" ng-model="app.domains[0].hostname" />
      <br/>
      <h5>Custom Domains</h5>
      <div ng-show="app.domains.length == 1" class="panel panel-default">
        <div class="panel-body text-center">
          <h4>Custom domains will appear here</h4>
          <small>Custom domains allow you to access your app via one or more non-Heroku domain names (for example, <code>www.yourcustomdomain.com)</code></small>
        </div>
      </div>
      <ul class="list-unstyled dokku-list-fields">
        <li ng-repeat="domain in app.domains" ng-show="$index > 0">
          <div class="form-group">
            <div class="row">
              <div class="col-sm-5">
                <input type="text" class="form-control" readonly ng-model="domain.hostname"/>
              </div>
              <div class="col-sm-5">
                <input type="text" class="form-control" readonly ng-model="domain.cname"/>
              </div>
              <div class="col-sm-2">
                <div class="btn-group">
                  <button class="btn btn-default" disabled><i class="glyphicon glyphicon-pencil"></i></button>
                  <button class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i></button>
                </div>
              </div>
            </div>
          </div>
        </li>
      </li>
    </div>
  </div>
</section>
