<div class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm dokku-menu">
  <a class="navmenu-brand visible-md visible-lg" href="/apps"><img class="logo" width="30" src="/assets/images/dokku.png" /> Dokku</a>
  <ul class="nav navmenu-nav">
    <li><input type="text" class="form-control" ng-model="search.name" /></li>
    <li><a href="javascript: void(0)" ng-click="createApp()"><i class="glyphicon glyphicon-plus"></i> New application</a></li>
    <li ng-repeat="app in apps | filter:search:strict" ng-class="{active: current_app == app.name}"><a href="/apps/{{app.name}}">{{app.name}}</a></li>
  </ul>
</div>

<div class="navbar navbar-default navbar-fixed-top hidden-md hidden-lg">
  <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="/apps"><img class="logo" width="30" src="/modules/dokku/client/img/dokku.png" /> Dokku</a>
</div>