<html>
  <body>
    <div class="wrapper">
      <h1>Hi <%= user.firstName %> <%= user.lastName %></h1>
      <p>You now have permission to work with app <%= app.name %></p>
      <p><a class="btn" href="http://localhost:9000/apps/<%= app.name %>">Open</a></p>
      <p>Cheers,</p>
      <p>Dokku UI Team</p>
    </div>
  </body>
</html>