<section>

  <subnav></subnav>

  <div class="row">
    <div class="col-md-4">
      <h3>Access</h3>
    </div>
    <div class="col-md-8">
      <dl class="dl-horizontal dokku-info">
        <dt><i class="glyphicon glyphicon-plus"></i></dt>
        <dd><b><a href="javascript: void(0);" ng-click="vm.addCollaborator(vm.app)">Add Collaborator</a></b></dd>
        <div ng-repeat="user in vm.app.collaborators">
          <dt>{{user.firstName}} {{user.lastName}}</dt>
          <dd>{{user.username}} &lt;{{user.email}}&gt;</dd>
        </div>
      </dl>
    </div>
  </div>
</section>
