<section ng-controller="AppSettingsController">
  <div class="nav nav-tabs dokku-submenu">
    <h4 class="text-primary">{{app.name}}</h4>
    <a class="sub-nav-item" href="/apps/{{app.name}}"><i class="glyphicon glyphicon-dashboard"></i> &nbsp; Overview</a>
    <a class="sub-nav-item" href="/apps/{{app.name}}/builds"><i class="glyphicon glyphicon-cloud-upload"></i> &nbsp; Deploy</a>
    <a class="sub-nav-item" href="/apps/{{app.name}}/access"><i class="glyphicon glyphicon-user"></i> &nbsp; Access</a>
    <a class="sub-nav-item active" href="/apps/{{app.name}}/settings"><i class="glyphicon glyphicon-cog"></i> &nbsp; Setting</a>
  </div>
</section>
