<div class="container account-form reset-password-form">
  <div class="row">
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="vm.submit(form)" novalidate>
        <h1 class="text-center">Reset Password</h1>
        <br/>
        <div class="has-error text-center">
          <p class="help-block" ng-show="(form.password.$error.required || form.password2.$error.required) && vm.submitted">Please enter password and confirmation.</p>
          <p class="help-block" ng-show="vm.errors.other && vm.submitted">{{ vm.errors.other }}</p>
          <p class="help-block" ng-show="vm.message">{{ vm.message }}</p>
        </div>
        <div class="form-group">
          <input type="password" name="password" class="form-control" ng-model="vm.user.password" ng-keydown="vm.reset(form)" required placeholder="Password">
          <input type="password" name="password2" class="form-control" ng-model="vm.user.password2" ng-keydown="vm.reset(form)" required placeholder="Confirm Password">
        </div>
        <div class="form-group" style="margin-bottom: 10px;">
          <button class="btn btn-block btn-danger" type="submit">Change Password</button>
        </div>
      </form>
    </div>
  </div>
</div>